body {
    font-family: Tahoma;
    font-size: 40px;
    height: 100vh;
    
}

.container {
    display: flex;
    flex-direction: row;
    
    align-items:baseline;
    height: 100%;
    width: 100%;
}

.ItemA {
    height: 150px;
    width: 100px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
}

.ItemB {
    height: 150px;
    width: 100px;
    background-color: #eeeff2;
    display: flex;
    border-left: 10px dotted #D0D0FF;
    justify-content: flex-start;
    margin-right: 10px;
}

.ItemC {
    height: 150px;
    width: 100px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    display: flex;
    align-items:start;
    justify-content:flex-start;
    margin-right: 10px;
}
